<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day15_Ajax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ajax1Servlet</display-name>
    <servlet-name>Ajax1Servlet</servlet-name>
    <servlet-class>com.Ajax.Ajax1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax1Servlet</servlet-name>
    <url-pattern>/ajax1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajax2Servlet</display-name>
    <servlet-name>Ajax2Servlet</servlet-name>
    <servlet-class>com.Ajax.Ajax2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax2Servlet</servlet-name>
    <url-pattern>/ajax2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.web.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JqueryAjaxServlet</display-name>
    <servlet-name>JqueryAjaxServlet</servlet-name>
    <servlet-class>com.jquery_Ajax.JqueryAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JqueryAjaxServlet</servlet-name>
    <url-pattern>/jqueryAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchKw4AjaxServlet</display-name>
    <servlet-name>SearchKw4AjaxServlet</servlet-name>
    <servlet-class>com.jquery_Ajax.SearchKw4AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchKw4AjaxServlet</servlet-name>
    <url-pattern>/searchKw4Ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProvinceServlet</display-name>
    <servlet-name>SearchProvinceServlet</servlet-name>
    <servlet-class>com.jquery_Ajax.SearchProvinceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProvinceServlet</servlet-name>
    <url-pattern>/searchProvince</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCityServlet</display-name>
    <servlet-name>SearchCityServlet</servlet-name>
    <servlet-class>com.jquery_Ajax.SearchCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCityServlet</servlet-name>
    <url-pattern>/searchCity</url-pattern>
  </servlet-mapping>
</web-app>