<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloCookieServlet</display-name>
    <servlet-name>HelloCookieServlet</servlet-name>
    <servlet-class>com.a_cookie.HelloCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloCookieServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemCookieServlet</display-name>
    <servlet-name>RemCookieServlet</servlet-name>
    <servlet-class>com.a_cookie.RemCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemCookieServlet</servlet-name>
    <url-pattern>/rem</url-pattern>
  </servlet-mapping>
</web-app>