<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day1101</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetProductByIdServlet</display-name>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <servlet-class>com.web.servlet.GetProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <url-pattern>/getProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearHistoryServlet</display-name>
    <servlet-name>ClearHistoryServlet</servlet-name>
    <servlet-class>com.web.servlet.ClearHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearHistoryServlet</servlet-name>
    <url-pattern>/clearHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add2CartServlet</display-name>
    <servlet-name>add2CartServlet</servlet-name>
    <servlet-class>com.web.servlet.add2CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add2CartServlet</servlet-name>
    <url-pattern>/add2Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clearCartServlet</display-name>
    <servlet-name>clearCartServlet</servlet-name>
    <servlet-class>com.web.servlet.clearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clearCartServlet</servlet-name>
    <url-pattern>/clearCart</url-pattern>
  </servlet-mapping>
</web-app>